<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Balistia.otf</string>
		<string>Beautiful Rainbow Font by Dani 7NTypes.otf</string>
		<string>Cloudy Cloud.otf</string>
		<string>Funny Hippo.otf</string>
		<string>Handwritten.otf</string>
		<string>Lovely Puppy.otf</string>
		<string>Unicorn Magic.otf</string>
		<string>Zodiac Simple.otf</string>
		<string>Zodiac.otf</string>
		<string>Fate of Love.otf</string>
		<string>Looper.otf</string>
		<string>Marigold Flowers.otf</string>
		<string>Quirky Loving.otf</string>
		<string>Strawberry Junkies.otf</string>
		<string>TogetherForever.otf</string>
		<string>Cenila.otf</string>
		<string>Cheeky Smilealt.otf</string>
		<string>Chibi Dinosaur.otf</string>
		<string>Childow Everyday.otf</string>
		<string>Chunky Bear.otf</string>
		<string>Chubby Lines.otf</string>
		<string>Fox Lollipop.otf</string>
		<string>Hand Drawn.otf</string>
		<string>HachiMaruPop-Regular.ttf</string>
		<string>Inlove.otf</string>
		<string>Live On The Moon.otf</string>
		<string>Love Monday.otf</string>
		<string>Lumilkys Regular.ttf</string>
		<string>Mighty Fine Demibold.otf</string>
		<string>RainbowClub.otf</string>
		<string>Santa Jolly.otf</string>
		<string>Soul Dreams.otf</string>
		<string>Sugar Donut Heart.otf</string>
	</array>
</dict>
</plist>
